In [13]:
import pandas as pd
import seaborn as sns
df=sns.load_dataset('flights')
#df=pd.read_csv(r'C:\Users\User\Desktop\100days Machine Learning\train.csv')
df

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [14]:
import ydata_profiling
from ydata_profiling import ProfileReport
prof= ProfileReport(df)
prof.to_file(output_file='PandasProfiling_flights.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\User\AppData\Roaming\Python\Python311\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Jan'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]